<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>Form Script Generator</Name>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY2Z0ZWFtLmNybTguZHluYW1pY3MuY29tO1VzZXJuYW1lPWFkbWluQGNmdGVhbS5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J2Nsb3VkZnJvbnQkMSc7</ConnectionString>
      <Version>8.1.0.369</Version>
    </Connection>
    <Connection>
      <Name>CF Team</Name>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vY2Z0ZWFtLmNybTguZHluYW1pY3MuY29tO1VzZXJuYW1lPWFkbWluQGNmdGVhbS5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J2Nsb3VkZnJvbnQkMSc7</ConnectionString>
      <Version>8.1.0.369</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/css/ModelGeneration.css</Path>
      <WebResourceId>2414cd63-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/CSS/ModelGeneration.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/JS/FormScriptGenerator.js</Path>
      <WebResourceId>0a507f6a-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/JS/FormScriptGenerator.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/JS/MGBusinessLayer.js</Path>
      <WebResourceId>14925b72-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/JS/MGBusinessLayer.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/JS/MKWebAPI.js</Path>
      <WebResourceId>9d038579-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/JS/MKWebAPI.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/JS/ModelGeneration.js</Path>
      <WebResourceId>a0038579-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/JS/ModelGeneration.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/JS/myfilename.js</Path>
      <WebResourceId>b80f6689-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/JS/myfilename.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/JS/TextProject.js</Path>
      <WebResourceId>daba7681-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/JS/TextProject.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>7b299489-e2f9-4f7f-a554-1897ea85aa78</OrgId>
      <Path>/ModelGeneration.html</Path>
      <WebResourceId>15740090-eb5f-e611-810b-c4346bdd2171</WebResourceId>
      <WebResourceName>mk_/ModelGeneration/ModelGeneration.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>